CLIENT_SECRET=${secrets.CLIENT_SECRET}
CLIENT_ID=${vars.CLIENT_ID}
URL=${secrets.URL}
JWT_SECRET=${secrets.JWT_SECRET}
DATABASE_URL=${secrets.DATABASE_URL}
POSTGRES_USER=postgres
POSTGRES_PASSWORD=${secrets.POSTGRES_PASSWORD}
POSTGRES_DB=db